@import "./base.css";
@import "./button.css";

html {
  scroll-behavior: smooth;
}

a {
  color: #2c3e50;
  margin: 0 4px;
  text-decoration: none;
}

#app {
  max-width: 1904px;
  margin: 0 auto;
}

.router-link-exact-active {
  font-weight: 700;
}
